.wp-block-sim-slides {

	> .sim-slides__nav {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;

		> button {
			font-size: 0;
			width: 10rem;
			aspect-ratio: 1;
			background-color: transparent;
			border: none;

			&:hover { opacity: 0.5 }
		}

	}

	@keyframes slidein {
		0% {

			clip-path: polygon(
				0 0,		100% 0%,
				100% 0%, 	0% -20%
			);
		}

		100% {

			clip-path: polygon(
				0 0%,		100% 0%,
				100% 120%, 	0% 100%
			);
		}
	}

	@keyframes slideout {
		0% {
			clip-path: polygon(
				0 -20%,		100% 0%,
				100% 120%, 	0% 100%
			);
		}

		100% {
			clip-path: polygon(
				0 100%,		100% 120%,
				100% 120%, 	0% 100%
			);
		}
	}



	.sim-slides__rido {
		position: fixed;
		z-index: 998;
		top: 0%;
		left: 0;
		right: 0;
		height: 0;

		@mixin fullscreen {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.sim-slides__rido-blur {
			backdrop-filter: blur(0px);
			@include fullscreen;
		}

		.sim-slides__rido-color {
			background-color: var(--wp--custom--color--neutral--100);
			opacity: 0;
			@include fullscreen;
		}

		.sim-slides__rido-color-2 {
			background-color: var(--wp--custom--color--neutral--200);
			opacity: 0;
			@include fullscreen;
		}

		&--fadein {

			height: 100%;

			.sim-slides__rido-blur {
				backdrop-filter: blur(50px);
				transition: backdrop-filter 1s linear;
			}
			.sim-slides__rido-color {
				animation: slidein 1.25s;
				animation-timing-function: cubic-bezier(0.825, 0.015, 0.210, 0.995);
				animation-delay: .40s;
				opacity: 1;
				transition: opacity .5s linear;
				transition-delay: .5s;
			}
			.sim-slides__rido-color-2 {
				animation: slidein 1.25s;
				animation-timing-function: cubic-bezier(0.825, 0.015, 0.210, 0.995);
				animation-delay: .25s;
				opacity: 1;
				transition: opacity .5s linear;
				transition-delay: .5s;
			}

		}

		&--fadeout {
			height: 100%;
			.sim-slides__rido-blur {
				backdrop-filter: blur(0px);
				transition: backdrop-filter 0;
			}
			.sim-slides__rido-color {
				opacity: 1;
				height: 100%;
				animation: slideout 1.25s;
				animation-timing-function: cubic-bezier(0.825, 0.015, 0.210, 0.995);
			}
			.sim-slides__rido-color-2 {
				opacity: 1;
				height: 100%;
				animation: slideout 1.25s;
				animation-delay: .25s;
				animation-timing-function: cubic-bezier(0.825, 0.015, 0.210, 0.995);
			}
		}

	}

}