.wp-block-sim-slides {

	> .sim-slides__nav {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;

		> button {
			font-size: 0;
			width: 10rem;
			aspect-ratio: 1;
			background-color: transparent;
			border: none;

			&:hover { opacity: 0.5 }
		}

	}

	.sim-slides__rido {
		position: fixed;
		z-index: 998;
		top: 0%;
		left: 0;
		right: 0;
		height: 0;

		@mixin fullscreen {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.sim-slides__rido-blur {
			backdrop-filter: blur(0px);
			@include fullscreen;
		}

		.sim-slides__rido-color {
			background-color: var(--wp--custom--color--neutral--900);
			opacity: 0;
			@include fullscreen;
		}

		&--fadein {

			height: 100%;

			.sim-slides__rido-blur {
				backdrop-filter: blur(50px);
				transition: backdrop-filter 1s linear;
			}

			.sim-slides__rido-color {
				opacity: 1;
				transition: opacity .5s linear;
				transition-delay: .25s;
			}

		}

		&--fadeout {
			height: 100%;
			.sim-slides__rido-blur {
				backdrop-filter: blur(0px);
				transition: backdrop-filter 1s linear;
			//	transition-delay: .25s;
			}
			.sim-slides__rido-color {
				opacity: 0;
				transition: opacity .25s linear;
			}

		}

	}

}