@use '../../common/slide.scss' as slide;

@include slide.view;

.sim-slide--spline {
	background-color: var(--wp--custom--color--neutral-800);
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='icon-50' width='24' height='24' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' name='loader' color='%232A2C2B' class='standard standard-loader-2'%3E%3Ctitle%3Eicon-50%3C/title%3E%3Cpath d='M21 12a9 9 0 1 1-6.219-8.56'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1rem;
}